@import "tailwindcss";


@layer base {
    h1 {
        @apply font-bold text-4xl md:text-6xl text-blue-400 text-center font-serif;
    }
    
    h2 {
        @apply text-center text-3xl font-extrabold text-slate-500 font-serif;
    }

    h3 {
        @apply text-center text-xl md:2xl font-bold text-slate-600 font-serif leading-6;
    }

    h4 {
        @apply font-bold text-2xl md:text-3xl text-blue-600 text-left font-serif
    }

    p {
        @apply text-slate-950 text-lg text-center font-serif leading-tight;
    }
}